.form-container {
  text-align: center;
}
p {
  color: chocolate;
  font-size: 20 px;
}
.login-btn {
  color: white;
  border-spacing: 50px;
  background-color: chocolate;
  font-size: 20 px;
  width: 175px;
  border-radius: 5px 5px 5px 5px;
}
